td .d0, td .d1, td .d2, td .d3, 
td .s0, td .s1, td .s2, td .s3, 
td .u0, td .u1, td .u2, td .u3, 
td .w0, td .w1, td .w2, td .w3, 
td .v0, td .v1, td .v2, td .v3 { 
  font-size: 36px;
  width: 42px;
  height: 42px;
  font-family: Inconsolata; 
  color:#333;
}

td > input[readonly] {
  color:#666;
}

td > input:focus {
  background: #fedd95;
}

td > input.highlighted {
  color:blue;
}
td > input.multi {
  font-size:14px;
}


/* hide ads */
form > a, form > ins { display:none !important; }


